.heading-container {
  display: flex;
}

.heading {
  padding: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.tab-body {
  display: flex;
  border: 1px solid black;
  height: 500px;
  padding: 5px;
}

.error {
  color: red;
  display: block;
  font-size: small;
}
